/* #region Base Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-weight: 700;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}
img {
  display: block;
  max-width: 100%;
}
/* #endregion */
/* #region Reset styles */
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 0;
}
address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* #endregion */
/* #region Common styles */
.section-title {
  font-size: 36px;
  color: #2e2f42;
  margin-bottom: 72px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.light-logo {
  color: #f4f4fd;
}
.dark-logo {
  color: #2e2f42;
}
.btn {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  min-width: 169px;
  min-height: 56px;
  font-size: 16px;
  border: none;
  font-family: roboto, sans-serif;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.btn:active {
  background-color: #4d5ae5;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  padding: 24px 0;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 120px 0;
}
.text {
  letter-spacing: 0.02em;
}
.icon {
  fill: #f4f4fd;
}
.contacts-icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.contacts-icon-item {
  width: 40px;
  height: 40px;
}
.contacts-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon-link:hover,
.contacts-icon-link:focus {
  background-color: #404bbf;
}
/* #endregion */
/* #region Card-set */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent-x) var(--indent-y);
}
.card-set-item {
  width: calc((100% - var(--indent-y) * (var(--items) - 1)) / var(--items));
}
/* #endregion */
/* #region Header styles */
.header {
  /* padding: 24px 0; */
  justify-content: space-between;
  padding-left: 156px;
  padding-right: 156px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
}
.page-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.header-logo {
  margin-right: 76px;
}
.nav-list {
  display: flex;
  gap: 40px; /* або через gap або через псевдоклас lastchild */
}
.nav-links {
  display: block;
  position: relative;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-links.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.nav-links:hover,
.nav-links.active,
.nav-links:focus {
  color: #404bbf;
}
.nav-links:active {
  text-decoration: underline;
}
.contacts {
  font-style: normal;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-item {
  padding: 24px 0;
}
.contacts-link {
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* #endregion */
/* #region Hero section styles */
.hero {
  background-color: #2e2f42;
  padding: 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 188px 0;
  gap: 48px;
}
.page-title {
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 0 auto;
  max-width: 496px;

  animation: fade-in 700ms ease 400ms 1 both;
}
.features-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 264px;
  min-height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}
/* #endregion */
/* #region Features section styles */
.features {
}
.features-title {
  margin-bottom: 8px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  --item: 3;
  --indent-x: 24px;
  --indent-y: 24px;
}
.features-item {
  min-width: 264px;
}
.features-item:not(:last-child) {
  margin-right: 24px;
}
/* #endregion */
/* #region Team section styles */
.team {
  background-color: #f4f4fd;
}
.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-title {
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.card-content {
  padding: 32px 0;
}
.card-content > .text {
  margin-bottom: 8px;
}

/* #endregion */
/* #region Portfolio section styles */
.portfolio {
}
.portfolio-container {
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title {
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  --items: 3;
  --indent-y: 24px;
  --indent-x: 48px;
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
  /* transform: scale(1); */
}

.portfolio-content {
  border: 1px solid #e7e9fc;
  border-top: transparent;
  padding: 32px 16px;
}
.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  /* transform: scale(0); */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;

  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: #f4f4fd;
}
/* #endregion */
/* #region Footer styles */
.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  padding: 0;
}
.footer-text {
  max-width: 264px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-contact {
  margin-right: 120px;
}
.footer-contacts-list {
  gap: 16px;
}
.footer-social-media > p {
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}
.footer-contacts-icon:hover,
.footer-contacts-icon:focus {
  background-color: #31d0aa;
}
/* #endregion */

/* #region Modal window */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;

  background-color: rgba(57, 59, 60, 0.285);

  width: 100%;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.modal {
  min-width: 484px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #ffffff;
  padding: 40px;
}
/* #endregion */

/* #region Animation */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* #endregion */
